<h3>Admin Panel</h3>

<% case @workshop.proposal_status %>
  <% when 'pending' %>
    <p>Workshop proposal status is pending - approve or reject?</p>

    <%= simple_form_for @workshop do |f| %>
      <%= f.hidden_field :proposal_status, value: 'approved' %>
      <%= f.submit "Approve this workshop" %>
    <% end %>

    <%= simple_form_for @workshop do |f| %>
      <%= f.hidden_field :proposal_status, value: 'rejected' %>
      <%= f.submit "Reject this workshop" %>
    <% end %>
  <% when 'approved' %>
    <p> Workshop proposal is approved <p>
  <% when 'rejected' %>
    <p> Workshop proposal is rejected <p>
<% end %>
