<%= simple_form_for @workshop do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :presentation_modality, as: :radio_buttons, collection: ['in_person', 'virtual', 'hybrid']%>
    <%= f.input :virtual_location %>
    <%= f.input :in_person_location %>
    <%= f.input :attendance_modality, as: :radio_buttons, collection: ['individual', 'collective'] %>
    <%= f.input :registration_modality, as: :radio_buttons, collection: ['no_registration_required', 'registration_required', 'application_required'] %>
    <%= f.input :start_time, as: :datetime %>
    <%= f.input :end_time, as: :datetime %>
  </div>

  <div class="facilitators-input">
    <%= f.association :facilitators, label_method: :name, include_blank: false, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <% case @workshop.proposal_status %>
      <% when "pending" %>
        <%= f.submit "Propose Workshop" %>
      <% when "approved" %>
        <%= f.submit "Edit Workshop" %>
    <% end %>
  </div>
<% end %>
