<%= simple_form_for @workshop do |f| %>

  <div class="form-inputs">
    <% case @workshop.presentation_modality %>
      <% when "in_person" %>
          <%= f.input :in_person_attendance_count %>
      <% when "virtual" %>
          <%= f.input :virtual_attendance_count %>
      <% when "hybrid" %>
          <%= f.input :virtual_attendance_count %>
          <%= f.input :in_person_attendance_count %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
