<% turbo_stream.replace "proposal_status" do %>
  <% turbo_frame_tag "proposal_status" do %>
    <% case @workshop.proposal_status %>
      <% when 'pending' %>
        <div class="flex flex-col gap-2">
        <span>
          Workshop proposal status is pending - approve or reject?
        </span>

        <span>
          <%= simple_form_for @workshop do |f| %>
            <%= f.hidden_field :proposal_status, value: 'approved' %>
            <%= f.submit "Approve this workshop", class: "w-full bg-orange-50 hover:bg-black font-semibold text-emerald-600 hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md"  %>
          <% end %>
        </span>

        <span>
          <%= simple_form_for @workshop do |f| %>
            <%= f.hidden_field :proposal_status, value: 'rejected' %>
            <%= f.submit "Reject this workshop", class: "w-full bg-orange-50 hover:bg-black font-semibold text-red hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
          <% end %>
        </span>
        </div>
      <% when 'approved' %>
        <div class="flex flex-col gap-2">
        <p> This workshop has been confirmed! <p>
          </div>
      <% when 'rejected' %>
        <div class="flex flex-col gap-2">
        <p> This workshop proposal has been rejected. <p>
          </div>
    <% end %>
  <% end %>
<% end %>
