<div id="<%= dom_id workshop %>">
  <h1> <%= @workshop.title %> </h1>
  <br>
  <h3>
    Facilitators
  </h3>
  <% @workshop.facilitators.each do |facilitator| %>
    <p>
      <%= facilitator.name %>
    </p>
  <% end %>

  <h3>Description</h3>
  <p>
    <%= @workshop.description %>
  </p>

  <h3>Time and Date</h3>
  <p>
    Date: <%= human_readable_date(@workshop.start_time) %>
  </p>
  <p>
    Start time: <%= human_readable_time(@workshop.start_time) %>
  </p>
  <p>
    End time: <%= human_readable_time(@workshop.end_time) %>
  </p>

  <h3>Location</h3>

  <% case @workshop.presentation_modality %>
    <% when 'virtual'%>
      <b>Virtual</b>
      <p>
        <%= @workshop.virtual_location %>
      </p>
    <% when 'in_person' %>
      <b>In Person</b>
      <p>
        <%= @workshop.in_person_location %>
      </p>
    <% when 'hybrid' %>
      <b>Hybrid</b>
      <p>
        Virtual Location: <%= @workshop.virtual_location %>
      </p>
      <p>
        In Person Location: <%= @workshop.in_person_location %>
      </p>
  <% end %>
</div>
