<% if current_facilitator.present? && current_facilitator.is_admin? %>
  <%= render "workshops/proposal_status", workshop: @workshop %>
<% end %>

<%= render @workshop %>

<% if current_facilitator.present? %>
<div class="flex flex-col gap-2 px-2 items-end lg:border-l lg:border-dashed">
  <div class="py-4">
    <%= link_to "Edit Workshop", edit_workshop_path(@workshop), class: "btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  </div>
  <div class="py-4">
    <%= link_to "Edit feedback form", edit_feedback_form_path(@workshop.feedback_form), class: "btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  </div>
  <% if @workshop.registration_modality == "application_required" %>
    <div class="py-4">
      <%= link_to "Edit application form", edit_application_form_path(@workshop.application_form), class: "btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
    </div>
    <h3 class="text-xl">Pending Applications:</h3>
    <%= render "pending_applications", workshop: @workshop %>
  <% end %>
</div>
<% end %>

<% unless @workshop.end_time.past? || current_facilitator.present? %>
  <% case @workshop.registration_modality %>
    <% when "registration_required" %>
      <%= render "workshop_participants/registration_form", workshop: @workshop %>
    <% when "application_required"%>
      <%= render "workshop_participants/application_form", application_form: @workshop.application_form %>
  <% end %>
<% end %>