<%# TODO this is a nightmare %>
<% if current_facilitator.present? && current_facilitator.is_admin? %>
  <%= render "workshops/proposal_status", workshop: @workshop %>
<% end %>

<%= render @workshop %>
<% if !current_facilitator.present? %>
  <% if !current_facilitator.present? && @workshop.registration_required? && @workshop.end_time.future? %>
    <%= render "forms/registration_form", workshop: @workshop %>
  <% end %>

  <% if !current_facilitator.present? && @workshop.application_required && @workshop.end_time.future? %>
    <%= render "forms/application_form", workshop: @workshop %>
  <% end %>
<% end %>

<% if current_facilitator.present? %>
<div class="flex flex-col gap-2 px-2 items-end lg:border-l lg:border-dashed">
<% if current_facilitator.present? && @workshop.end_time.future? %>

  <div class="py-4">
      <%= link_to "Edit Workshop", edit_workshop_path(@workshop), 
                                   class: "btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  </div>
  <% end %>
  <% if current_facilitator.present? && @workshop.application_required && @workshop.end_time.future? %>
    <% if @workshop.participants.pending.count > 0 %>
      <div class="py-4">
        pending applications
        <%= render partial: "forms/application_status_form",
            # todo fix fix fix
            collection: @workshop.participants.pending,
            as: :participant %>
      </div>
    <% end %>

    <% if @workshop.participants.waitlisted.count > 0 %>
      <div class="py-4">
        Waitlisted applications
        <%= render partial: "forms/application_status_form",
            collection: @workshop.participants.waitlisted,
            as: :participant %>
      </div>
    <% end %>

  <% end %>

  <% if current_facilitator.present? && @workshop.attendance_modality == "individual" %>

  <div class="py-4">
    <%= render partial: "participants/attendance_status_form", 
              # todo fix fix fix
              collection: @workshop.participants.accepted.order('created_at asc'),
              as: :participant %>
    </div>

  <% end %>

  <% if current_facilitator.present? && @workshop.attendance_modality == "collective" %>

  <div class="py-4">
    <%= render partial: "workshops/group_attendance_form" %>
    </div>

  <% end %>
<% end %>

      <%# TODO FIX ME %>
      <%# link_to "Edit feedback form", edit_feedback_form_path(@workshop.feedback_form), class: "btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>