<div class="max-w-4xl">
  <%= simple_form_for(@track) do |f| %>
    <%= f.hint "A 'Workshop Track' is a grouping of thematically similar workshops." %>

    <%= f.input :title,
                required: true,
                error: "Title is required",
                placeholder: "Insert workshop track title",
                legend_tag: false %>

    <%= f.input :description,
                placeholder: "Insert description of workshop track" %>

    <div class='my-1 ml-3 block text-sm font-large text-black'>
      Workshops
    </div>

    <div class='m-2 h-48 overflow-y-scroll border border-gray-300'>
      <%= f.association :workshops, 
                        include_blank: false, 
                        legend_tag: false,
                        as: :check_boxes %>
    </div>

    <%= f.button :submit, 
                  class: 'my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold 
                          text-sm py-2 px-4 rounded' %>
  <% end %>
</div>