<p style="color: green"><%= notice %></p>

<%= render @facilitator %>

<div>
  <%= link_to "Edit this facilitator", edit_facilitator_path(@facilitator) %> |
  <%= link_to "Back to facilitators", facilitators_path %>

  <%= button_to "Destroy this facilitator", @facilitator, method: :delete %>
</div>
