<%= turbo_frame_tag "workshop_participant_application_status_form_#{workshop_participant.id}" do %>
  <p>
    <%= workshop_participant.participant.name %>
  </p>

  <% workshop_participant.application_responses.each do |prompt, response|%>
    <p>
      <%= prompt %>
    <br>
      <%= response %>
    </p>
  <% end %>

  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "accepted" %>
    <%= f.submit "Accept participant application", class: "text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2" %>
  <% end %>
  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "waitlisted" %>
    <%= f.submit "Waitlist participant application", class: "text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 " %>
  <% end %>
  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "rejected" %>
    <%= f.submit "Reject participant application", class: "text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2" %>
  <% end %>
<% end %>