<%= turbo_frame_tag "workshop_participant_application_status_form_#{workshop_participant.id}" do %>
<div class="p-2 m-2 border border-black">
  <p class="font-semibold text-xl">
    <%= workshop_participant.participant.name %>
  </p>

  <% workshop_participant.application_responses.each do |prompt, response|%>
  <div class="py-2">
    <p class="text-lg">
      <%= prompt %>
    </p>
    <p class="text-italic">
      <%= response %>
    </p>
    </div>
  <% end %>

  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "accepted" %>
    <%= f.submit "Accept participant application", class: "w-full btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  <% end %>
  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "waitlisted" %>
    <%= f.submit "Waitlist participant application", class: "w-full btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  <% end %>
  <%= simple_form_for workshop_participant do |f| %>
    <%= f.hidden_field :application_status, value: "rejected" %>
    <%= f.submit "Reject participant application", class: "w-full btn my-4 bg-orange-50 hover:bg-black font-semibold text-black hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
  <% end %>
</div>
<% end %>