<h3>Register for <%= @workshop.title %></h3>

<%= simple_form_for :workshop_participant, url: workshop_participants_path do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.hidden_field :workshop_id, value: @workshop.id %>

    <%= simple_fields_for :reminder_options do |n| %>
      <% if (@workshop.start_time - 1.hour).past? %>
      <% elsif (@workshop.start_time - 1.day).past? %>
        <%= n.input :reminder_options, as: :check_boxes, collection: ["One hour before"] %>
      <% elsif (@workshop.start_time - 1.week).past? %>
        <%= n.input :reminder_options, as: :check_boxes, collection: ["One day before", "One hour before"] %>
      <% else %>
        <%= n.input :reminder_options, as: :check_boxes, collection: ["One week before", "One day before", "One hour before"] %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Registration" %>
  </div>
<% end %>
