<p style="color: green"><%= notice %></p>

<%= render @workshop_facilitator %>

<div>
  <%= link_to "Edit this workshop facilitator", edit_workshop_facilitator_path(@workshop_facilitator) %> |
  <%= link_to "Back to workshop facilitators", workshop_facilitators_path %>

  <%= button_to "Destroy this workshop facilitator", @workshop_facilitator, method: :delete %>
</div>
