<div class ="w-full m-3">
  <h1>Feedback Form for <%= @feedback_form.workshop.title %></h1>

  <%# This needs to be a form a la workshop_participants/_application_form %>

  <%= simple_form_for :feedback_form_response, url: feedback_form_responses_path do |f| %>
    <%= f.hint "Your feedback helps us to improve our workshops!" %>

    <% @feedback_form.questions.each do |question| %>
        <% case question.question_format %>
          <% when "short_answer" %>
            <%= f.input "#{question.prompt}",
                        required: false %>
          <% when "long_answer" %>
            <%= f.label "#{question.prompt}", required: false %>
            <br>
            <%= f.text_area "#{question.prompt}", 
                          class: 'flex w-full shadow appearance-none border border-gray-300 
                          rounded p-2 bg-white focus:outline-none focus:border-blue-500 
                          text-black-400 leading-4 transition-colors duration-200 ease-in-out' %>
            <br>
          <% when "true_false" %>
            <%= f.label "#{question.prompt}", required: false %>
            <br>
            <%= f.input_field "#{question.prompt}", 
                        as: :radio_buttons, 
                        collection: ['true', 'false'] %>
          <% when "likert" %>
            <%= f.label "#{question.prompt}", required: false%>
            <br>
            <%= f.input_field "#{question.prompt}", 
                        as: :radio_buttons, 
                        collection: ['1', '2', '3', '4', '5'] %>
          <br>
        <% end %>
      <% end %>
    <%= f.hidden_field :feedback_form_id, value: @feedback_form.id %>
    <%= f.submit "Submit Feedback", 
                class: 'my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded' %>
  <% end %>
</div>