<nav class="firstnav sticky top-0 border-b bg-orange-50 flex flex-col items-center">
    <div class="py-4 px-6 max-w-screen-xl flex max-lg:flex-col flex-wrap max-lg:items-end lg:items-center justify-end gap-6 mx-auto max-w-6xl w-full">
      <span class="max-lg:text-end">
        <%= link_to "View Workshop Calendar", workshops_path, class: "text-black font-semibold no-underline hover:underline hover:decoration-double flex items-center space-x-3 rtl:space-x-reverse" %>
      </span>
      <span class="max-lg:text-end">
        <%= link_to "View Workshop Tracks", tracks_path, class: "text-black font-semibold no-underline hover:underline hover:decoration-double flex items-center space-x-3 rtl:space-x-reverse" %>
      </span>
      <% if current_facilitator.present? %>
        <span class="max-lg:text-end max-lg:w-full">
          <%= button_to "Sign out", destroy_facilitator_session_path, method: :delete, class: "navbtn btn max-md:w-full bg-orange-50 hover:bg-black font-semibold text-black text-center hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
        </span>
      <% else %>
        <span class="max-lg:text-end max-lg:w-full">
          <%= button_to "Facilitator sign in", new_facilitator_session_path, class: "navbtn btn max-md:w-full bg-orange-50 hover:bg-black font-semibold text-black text-center hover:text-orange-50 py-2 px-2 border border-black hover:border-black border-4 border-double rounded shadow-md" %>
        </span>
      <% end %>
    </div>
  <% if current_facilitator.present? %>
    <div class="w-full py-2 px-6 text-stone-50 bg-black">
      <div class="max-w-screen-xl flex flex-wrap gap-6 max-lg:flex-col items-center justify-end mx-auto max-w-screen-xl max-w-6xl w-full">
            <span class="max-lg:w-full max-lg:text-end">
            <%= link_to "Propose a Workshop Track", new_track_path, class: "text-stone-50 max-lg:text-end font-semibold no-underline hover:underline hover:decoration-double flex items-center max-lg:justify-end space-x-3 rtl:space-x-reverse" %>
          </span>
          <span class="max-lg:w-full max-lg:text-end">
            <%= link_to "View Pending Workshop Tracks", "/tracks/pending", class: "text-stone-50 max-lg:text-end font-semibold no-underline hover:underline hover:decoration-double flex items-center max-lg:justify-end space-x-3 rtl:space-x-reverse" %>
          </span>
          <span class="max-lg:w-full max-lg:text-end">
            <%= link_to "View Pending Workshops", "/workshops/pending", class: "text-stone-50 max-lg:text-end font-semibold no-underline hover:underline hover:decoration-double flex items-center max-lg:justify-end space-x-3 rtl:space-x-reverse" %>
          </span>
          <span class="max-lg:w-full max-lg:text-end">
            <%= link_to "Propose a new workshop", new_workshop_path, class: "text-stone-50 max-lg:text-end font-semibold no-underline hover:underline hover:decoration-double flex items-center max-lg:justify-end space-x-3 rtl:space-x-reverse" %>
          </span>
        </div>
    </div>
    <% end %>
</nav>