<nav class="border-gray-200 bg-gray-800">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <span>
      <%= link_to "View Workshop Calendar", workshops_path, class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded flex items-center space-x-3 rtl:space-x-reverse" %>
    </span>
    <span>
      <%= link_to "View Workshop Tracks", tracks_path, class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded flex items-center space-x-3 rtl:space-x-reverse" %>
    </span>
    <% if current_facilitator.present? %>
      <span>
        <%= link_to "Propose a Workshop Track", new_track_path, class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded" %>
      </span>
      <span>
        <%= link_to "View Pending Workshop Tracks", "/tracks/pending", class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded" %>
      </span>
      <span>
        <%= link_to "View Pending Workshops", "/workshops/pending", class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded" %>
      </span>
      <span>
        <%= link_to "Propose a new workshop", new_workshop_path, class: "no-underline bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded" %>
      </span>
      <span>
        <%= button_to "Sign out", destroy_facilitator_session_path, method: :delete, class: "no-underline bg-white hover:bg-red-200 text-red-700 font-semibold hover:text-black py-2 px-2 border border-red-500 hover:border-transparent rounded" %>
      </span>
    <% else %>
      <span>
        <%= link_to "Facilitator sign in", new_facilitator_session_path, class: "bg-white hover:bg-blue-200 font-semibold hover:text-black py-2 px-2 border border-blue-500 hover:border-transparent rounded" %>
      </span>
    <% end %>
  </div>
</nav>