<!DOCTYPE html>
<html>
  <head>
    <title>Workshop Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col font-serif bg-orange-50">
    <%= render "layouts/navbar" %>
    <%= render "layouts/notifications" %>
    <div
      class="
        flex-1 w-full mx-auto p-2 flex flex-row justify-center max-lg:flex-col gap-6
      "
    >
      <%= yield %>
    </div>
  </body>
</html>
